button{    
    float: right;   
    cursor: pointer;
    vertical-align: top;

}

a i{    
    float: right;   
    cursor: pointer;
    vertical-align: top;

}

i{
    margin: 10px 10px 10px 10px;
    color:white;
    }

li {

    list-style: none;

}
.borderless{
    border:none;
}
.logo-img {
    margin-top: 2em;
}
#educacion, .card
{
background-color: #798eb1;

}
