<div id="educacion" class="container-fluid borderless">
    <h2>Educacion</h2>
    <ul class="items-list">
        <li *ngFor="let educacion of educacionList">    
            <div class="card mb-3 borderless" >
                <div class="row g-0">
                <div class="col-md-1 list-info" >
                    <img [src]="educacion.imagen"  class="logo-img img-fluid rounded-start" alt="...">            
                </div>
                <div class="col-md-11">
                    <div class="card-body list-info">
                        <div class="btn-edit ">
                            <a href="#"><i class="fa fa-trash"></i></a>
                            <a href="#"><i class="fa fa-pen"> </i></a> 
                            <h5 class="card-title"> {{educacion.escuela}}</h5>                         
                        </div>
                        <p class="card-text">{{educacion.titulo}}. 
                        <time> {{educacion.inicio}}</time> - <time>{{educacion.fin}}</time></p>
                        <p class="card-text"><small >{{educacion.career}}</small></p>
                    </div>
                </div>
                </div>
            </div>
        </li>
    </ul>
</div><!--cierra div educacion-->
