<div id="proyectos" class="container-fluid borderless"> 
        
    <h2>Proyectos</h2>
    <ul class="items-list">
        <li *ngFor="let proyecto of proyectosList">    
            <div class="card mb-3 borderless" >
                <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-body list-info">
                        <div class="btn-edit ">
                            <span>
                                <a href="#"><i class="fa fa-trash"></i></a>
                                <a href="#"><i class="fa fa-pen"> </i></a> 
                            </span>
                            <span class="card-title"><h4> {{proyecto.nombre}}</h4> - 
                            </span>                         
                        </div>
                        <p class="card-text"><time>{{proyecto.inicio}}</time> - <time>{{proyecto.fin}}</time></p>
                        <p class="card-text"><small>{{proyecto.descripcion}}</small></p>
                    </div>
                </div>
                </div>
            </div>
        </li>
    </ul>
</div><!--cierra div proyectos-->
