    <div id="experiencia" class="container-fluid borderless"> 
        <div class="row">
            <div class="col-md-10 " ><h2>Experiencia</h2></div>
        <div class="col-md-2 " >
            <button type="button" class="btn btn-link white btn-lg"  routerLink="/nuevaeduc" *ngIf="isLogged"><i class="fa-solid fa-file-circle-plus fa-xl white"></i></button>
        </div>
        
        </div>
        <ul class="items-list">
            <li *ngFor="let experiencia of experiencias">    
                <div class="card mb-3 borderless" >
                    <div class="row g-0">
                    <div class="col-md-1 list-info" >
                        <img [src]="experiencia.imagen "  class="logo-img img-fluid rounded-start" alt="...">            
                    </div>
                    <div class="col-md-11">
                        <div class="card-body list-info">
                            <div >
                                <span *ngIf="isLogged">
                                    <!---  --->
                                    <button type="button" class="btn btn-link white btn-lg" (click)="delete(experiencia.id)"  >
                                        <i class="fa fa-trash"></i>
                                    </button>
                                    <button type="button" class="btn btn-link white btn-lg"   routerLink="/nuevaexp/{{experiencia.id}}">
                                        <i class="fa fa-pen"></i>
                                    </button>
                                </span>
                                <span class="card-title"><h4> {{experiencia.nombre}}</h4> - 
                                <h6> {{experiencia.puesto}}</h6></span>                         
                            </div>
                            <p class="card-text"><time>{{experiencia.inicio}}</time> - <time>{{experiencia.fin}}</time></p>
                            <p class="card-text"><small class="text-muted">{{experiencia.descripcion}}</small></p>
                        </div>
                    </div>
                    </div>
                </div>
            </li>
        </ul>

    </div><!--cierra div experiencia-->
    
 