button{    
    float: right;   
    cursor: pointer;
    vertical-align: top;

}

a i{    
    float: right;   
    cursor: pointer;
    vertical-align: top;

}
i{
    margin: 10px 10px 10px 10px;
    color: rgb(65, 28, 28);

}
li {

    list-style: none;
}
.borderless{

    border:none;
}
.logo-img {
    margin-top: 2em;
/*    vertical-align: middle;*/
}
h4,h6{
    display: inline;
}