/*
.fa-button:hover, .fa:over{
    background:gainsboro;
}
div#profile-background{
display: flex;
z-index: 1;
}
div#profile-background img{
width:100%;
border-radius: 32px 32px 0 0;    
}
#info-img{
display: flex;

}
.btn-right{
    display: flex;
    align-self: flex-end;
}
.fa-button, .fa{
    color:black;
    display:block;
    height:2.4rem;
    width:2.4rem;
    line-height: 2.4rem;
    text-align: center;
    border-radius:50%;
    background: white;
}

/* You can add global styles to this file, and also import other style files 
h1{
    text-align: center;
    color: gold;
    padding-bottom: 5px;
    background: rgba(73,155,234,1);
    background: -moz-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(68,142,220,1) 19%, rgba(52,105,176,1) 76%, rgba(46,89,158,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73,155,234,1)), color-stop(19%, rgba(68,142,220,1)), color-stop(76%, rgba(52,105,176,1)), color-stop(100%, rgba(46,89,158,1)));
    background: -webkit-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(68,142,220,1) 19%, rgba(52,105,176,1) 76%, rgba(46,89,158,1) 100%);
    background: -o-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(68,142,220,1) 19%, rgba(52,105,176,1) 76%, rgba(46,89,158,1) 100%);
    background: -ms-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(68,142,220,1) 19%, rgba(52,105,176,1) 76%, rgba(46,89,158,1) 100%);
    background: linear-gradient(to bottom, rgba(73,155,234,1) 0%, rgba(68,142,220,1) 19%, rgba(52,105,176,1) 76%, rgba(46,89,158,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#2e599e', GradientType=0 );
    margin:0px;

}
header{
font-size:larger;
}
body{
    background-color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

i {
    color: gold;
    text-align: center;
}

 #videoSimposio{
    height:350px;
    width: 100%;

 }
 #presentacion{
    text-align: center;
    margin: 5px;
    }
   
.sectores{
    min-height:350px;
    margin-bottom:1em;
}
.tarjetas{
    min-height:320px;
}
footer
{  
   background: rgba(73,155,234,1);
   background: -moz-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(61,131,202,1) 19%, rgba(25,60,105,1) 76%, rgba(10,30,64,1) 100%);
   background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73,155,234,1)), color-stop(19%, rgba(61,131,202,1)), color-stop(76%, rgba(25,60,105,1)), color-stop(100%, rgba(10,30,64,1)));
   background: -webkit-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(61,131,202,1) 19%, rgba(25,60,105,1) 76%, rgba(10,30,64,1) 100%);
   background: -o-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(61,131,202,1) 19%, rgba(25,60,105,1) 76%, rgba(10,30,64,1) 100%);
   background: -ms-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(61,131,202,1) 19%, rgba(25,60,105,1) 76%, rgba(10,30,64,1) 100%);
   background: linear-gradient(to bottom, rgba(73,155,234,1) 0%, rgba(61,131,202,1) 19%, rgba(25,60,105,1) 76%, rgba(10,30,64,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#0a1e40', GradientType=0 );
   }
h4{
    font-weight: bold;
    color:rgba(1, 1, 92, 0.959);
}

 @font-face {
    font-family: 'Poppins';
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;    
}

.container{
    max-width: 80%;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 1px solid steelblue;
    padding: 30px;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
}
.btn:focus {
    outline: none;
}
.btn:active {
    transform: scale(0.98);
}
.btn-block {
    display: block;
    width: 100%;
}

.form-control {
    margin: 20px 0;
}
*/