
<div class="container-fluid">

    <div class="row" *ngFor="let datos of perfil" >
         <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <img id="fotoperfil" [src]=datos.image_perfil  class="img-fluid" alt="Responsive image"/>
            <p id="nombre">{{datos.nombres}}  {{datos.apellido}}</p>
            <p>{{datos.domicilio}} / {{datos.telefono}} </p>
        </div>
        <div class="col-xs-11 col-sm-7 col-md-7 col-lg-7">
            <span><h2>Acerca de</h2>
            <p>{{datos.sobreMi}} /  {{datos.ocupacion}}
            </p>
            </span>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <button type="button" class="btn btn-link white btn-lg" routerLink="/nuevoperfil/{{datos.id}}"  *ngIf="isLogged">
                <i class="fa fa-pen white"></i>
            </button>
        </div>
    
    </div>
</div>
<!--
<div class="card mat-card">
    <div class="card-titles">
    <h2>Acerca de</h2>
    <div class="btn-edit" onclic="editar_acercade()">
    <a href="#" class="btn-right"><i class="fa fa-pen"> </i></a></div>
    </div>
    
    
    <div>
    <p id="text-acercade"> matematico fisico..</p>
    </div>
</div>
    
<div>
    <input id="edit-acercade" type="text" 
    oninput="escribir:acercade(this.value)"
    style="display:none">
    </div>
    
    <div class="card mat-card">
        <div id="Nombre"></div>
    </div>
    <div class="card mat-card">
        <div id="Apellido"></div>
    </div>
    <div class="card mat-card">
        <div id="Titulos"></div>
    </div>
    
    <input type="file" id="file1" onchange="showFile1(this)">

    -->